<div class="row" #cards>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats scalehover" [ngClass]="this.nr==1 ? 'currentcard' : ''">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total rezervari</p>
              <p class="card-title">{{this.countRequests.total}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <a [routerLink]="" (click)="getallrequests(); this.nr=1;tabelname='Total Rezervari';"><i class="fa fa-calendar-o"></i> Vezi rezervari</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats scalehover" [ngClass]="this.nr==2 ? 'currentcard' : ''">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Rezervari aceptate</p>
              <p class="card-title">{{this.countRequests.accepted}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <a [routerLink]="" (click)="this._eventService.emitData('Accepted'); this.nr=2; tabelname='Rezervari Acceptate';"><i class="fa fa-check-circle"></i> Vezi rezervari</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats scalehover" [ngClass]="this.nr==3 ? 'currentcard' : ''">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">In asteptare</p>
              <p class="card-title">{{this.countRequests.waiting}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <a [routerLink]="" (click)="this._eventService.emitData('Waiting'); this.nr=3;tabelname='In Asteptare';"><i class="fa fa-clock-o"></i> Vezi rezervari</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats scalehover" [ngClass]="this.nr==4 ? 'currentcard' : ''">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Rezervari respinse</p>
              <p class="card-title">{{this.countRequests.cancelled}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <a [routerLink]="" (click)="this._eventService.emitData('Cancelled'); this.nr=4; tabelname='Rezervari Respinse';"><i class="fa fa-ban"></i> Vezi rezervari</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- table -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{tabelname}}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>Name</th>
              <th>Reason of request</th>
              <th>Pick-up date</th>
              <th>Pick-up time</th>
              <th>Return Date</th>
              <th>Return time</th>
              <th>Destination</th>
              <th>Status</th>
            </thead>
            <tbody>
               <tr *ngFor="let data of requests; let i = index">
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.reason}}</td>
                <td>{{data.pickupDate | date:'dd/MM/yyyy'}}</td>
                <td>{{data.pickupTime}}</td>
                <td>{{data.returnDate | date:'dd/MM/yyyy'}}</td>
                <td>{{data.returnTime}}</td>
                <td>{{data.destination}}</td>
                <td [ngClass]="getCustomCss()">{{data.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>