<div class="row justify-content-md-center">
        <div class="container col-md-auto" style="width: 30%;">

        <form [formGroup]="form" (ngSubmit)="submitForm()">   
            <div class="form-group input-group-lg">
                <mat-form-field style="width: 100%;">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                </mat-form-field>
            </div>
            
            <div class="form-group input-group-lg">
                <mat-form-field>
                    <mat-label>Pickup Date</mat-label>
                    <input matInput [matDatepicker]="pickupDate" formControlName="pickupDate">
                    <mat-datepicker-toggle matSuffix [for]="pickupDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickupDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group input-group-lg">
                <mat-form-field style="width: 100%;">
                    <mat-label>Pickup Time</mat-label>
                    <mat-select formControlName="pickupTime" (selectionChange)="filterCars()">
                      <mat-option *ngFor="let d of hours" [value]="d.value">
                          {{d.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="form-group input-group-lg">
                <mat-form-field style="width: 100%;">
                    <mat-label>Cars</mat-label>
                    <mat-select formControlName="car">
                      <mat-option *ngFor="let d of cars" [value]="d.nr_inmatriculare">
                          {{d.nr_inmatriculare}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="form-group input-group-lg">
                <mat-form-field style="width: 100%;">
                    <mat-label>Return Time</mat-label>
                    <mat-select formControlName="returnTime" (selectionChange)="filterCars()">
                      <mat-option *ngFor="let d of hours" [value]="d.value">
                          {{d.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            
            <div class="form-group input-group-lg">
                <mat-form-field style="width: 100%;">
                    <mat-label>Destination</mat-label>
                    <mat-select formControlName="destination">
                      <mat-option *ngFor="let d of destinations" [value]="d.value">
                          {{d.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div class="form-group input-group-lg">
                <mat-form-field style="width: 100%;">
                    <mat-label>Reason</mat-label>
                    <mat-select formControlName="reason">
                      <mat-option *ngFor="let r of reasons" [value]="r.value">
                          {{r.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div class="form-group">
                <button class="btn btn-danger btn-block btn-lg">Create</button>
            </div>
        </form>
    </div>
</div>
